<h1>List of products</h1>

<%= link_to "Want to list a product?", new_product_path %>

<%= @products.each do |product| %>
  <h2><%= product.name %></h2>
  <div>
    <%= product.description %>
    <br>
    <br>
    Price: $<%= product.formatted_price %>
  </div>

  <br>
  <%= link_to "check product out", product %>
<% end %>
